.container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.container img{
  max-height: 400px;
}
.banner {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: var(--banner-height);
  background-image: url('../../assets/hp_expo_snow2.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  color:white;
  background-color: rgba(10, 10, 10, 0.5); 
  backdrop-filter: blur(10px); /* Add a blur effect */
  -webkit-backdrop-filter: blur(10px); /* Fallback for Safari */
  border-radius: 5px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 60vw;
  height: 10rem
}


.article {
  width: 100%;
  height: calc(70vh - var(--banner-height));
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
