.container {
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  background-color: black;
  padding: 10px;
}

img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

footer {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.authors {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.author {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.authorName {
  margin-bottom: 10px;
  margin-right: 10px;
}

.authorLink {
  color: skyblue;
  text-decoration: none;
  margin-left: auto;
}
